@charset "utf-8";

body {
	margin: 8px 10px;
	font-family: "Hiragino Sans", meiryo, ヒラギノ角ゴシック, メイリオ, sans-serif;
	font-size: 16px;
	line-height: 150%;
	color: #363a3a;
	background-color: #fffffe;
	letter-spacing: .08em;
}

h1 {
	font-size: 16px;
	display: inline-block;
	margin: 0
}

.title {
	color: #666;
	background-color: #ffe6e6;
	border-left: 8px solid #ffcfcf;
	border-bottom: 1px dashed rgba(159, 138, 138, .55);
	padding: 6px 5px 2px;
	margin: 0 0 10px;
}

a {
	color: #555;
	text-decoration: underline
}

a:hover {
	text-decoration: none
}


#main {
	margin: 0 auto;
	max-width: 928px;
}
.newimg .catalog {
	/* margin: 0; */
	padding: 0
	display: inline-block;
	display: inline-block;
}

.newimg {
	margin: 19px 0 10px 0;
	line-height: 1;
}

.catalog {
	width: 19.3%;
	max-height: 300px;
	margin: 0 0.8% 0.8% 0;
	overflow: hidden;
	vertical-align: text-top;
}

.catalog img {
	max-width: 100%;
	vertical-align: text-top;
	border: none;
	height:auto;
}

.newimg span:nth-of-type(5n) {
	margin-right: 0
}

.posted_image{
	overflow: hidden;
	display: inline-block;
	max-width: 160px;
	max-height: 350px;
	height: auto;
}

.posted_image img {
    max-width: 100%;
    height: auto;
}
.hide_thumbnail img{
    filter: blur(15px);
}

.clear {
	clear: both
}

.leftbox {
	float: left
}

.rightbox {
	float: right
}

.leftbox,
.rightbox {
	width: auto;
	margin: 1px 0 16px 1px;
}

h3 {
	font-size: 16px;
	font-weight: 400;
	margin: 0
}

.title_wrap {
	display: inline-block
}

input[type=text] {
	height: 20px;
	width: 180px;
	border: 1px solid #aaa;
	vertical-align: middle;
}

.menu {
	margin: 16px 0 14px
}

.name {
	font-weight: 700;
	color: #666;
	display: inline-block;
	border: 1px solid #ffcfcf;
	border-radius: 6px;
	line-height: 1em;
}

.name a {
	color: #666;
	display: block;
	padding: 5px;
}

.name:hover {
	background-color: #fff7f7;
}

.comments_title_wrap a {
	text-decoration: none;
}

.res_button_wrap {
	text-align: right;
	margin: 8px 0 -8px
}

.res_button form {
	display: inherit
}

.res_button_wrap form {
	display: inline-block;
	width: 200px;
	vertical-align: inherit
}

.page_top {
	display: inline-block;
	margin: 0 0 0 6px;
	vertical-align: -webkit-baseline-middle
}

.comments_title_wrap {
	display: block;
	line-height: 2em;
	margin: 0 0 5px;
}

h2 {
	font-weight: 400;
	font-size: 16px;
	display: inline-block;
	margin: 0 0 8px;
}

input[type=text] {
	height: 24px;
	width: 180px;
	border: 1px solid #888;
	vertical-align: middle;
}

input[type=submit] {
	vertical-align: middle;
	margin: 0;
	padding: 1px 12px;
}

input[type=text]:hover {
	background-color: #fff7f7;
}

input[type=radio] {
	display: none
}

.label {
	color: #6f6f6f;
	display: inline-block;
	padding: 0 10px;
	text-align: center;
	cursor: pointer;
	border: 2px solid #ffe6e6;
	border-radius: 15px;
}

input[type=radio]:checked+label {
	color: #626262;
	background: #ffe6e6;
}

.label:hover {
	background-color: #ffe6e6;
}

.radio {
	display: inline-block;
	margin: 0 0 16px 0
}

/* 改ページ */
.pagelink {
    text-align: center;
    margin: 12px 0 15px;
}
span.next {
    display: inline-block;
    text-align: left;
}

span.prev {
	display: inline-block;
    text-align: right;
}

/* スクロールすると出てくる「トップへ戻る」ボタン */
/* https://cotodama.co/pagetop/ */
#page_top {
	width: 50px;
	height: 50px;
	position: fixed;
	right: 0;
	bottom: 50px;
	background: #ffcfcf;
	opacity: .5;
	border-radius: 50%
}

#page_top a {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	text-decoration: none
}

#page_top a::before {
	font-weight: 900;
	font-size: 25px;
	color: #fff;
	position: absolute;
	width: 25px;
	height: 25px;
	top: -5px;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center
}


@media screen and (max-width:767px) {
	.newimg {
		padding: 5px 0 0 0
	}

	.catalog {
		width: 24.2%;
		max-height: 220px;

	}

	.catalog {
		margin: 0 1.0666% 1.0666% 0
	}

	.newimg span:nth-of-type(5n) {
		margin-right: 1.0666%
	}

	.newimg span:nth-of-type(4n) {
		margin-right: 0
	}

}

